{% extends 'base.html' %}
{% load static %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<!-- Custom 404 error handler page -->
<section class="container-fluid py-5 bg-light">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center px-3">
      <h1 class="display-1 mb-3">404</h1>
      <h2 class="mb-3">Oops! Page Not Found</h2>
      <p class="fs-4 mb-4">Click the button below to return home</p>
      <a href="{% url 'home' %}" class="btn btn-primary btn-green-hover">Go Back Home</a>
    </div>
  </div>
</section>
{% endblock %}