{% extends 'base.html' %}

{% load static %}
{% block title %}RistoDeliz{% endblock %}


{% block content %}
<!-- Hero Section -->
<section class="hero text-center">
    <div class="hero-text">
        <h1 class="hero-title">RistoDeliz</h1>
        <h2 class="hero-subtitle"><i>"A Taste of Italy, Right at Your Table"</i></h2>
    </div>
</section>

<!-- Introduction -->
<section class="container-fluid py-4 bg-light mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <p fs-4>
                RistoDeliz is where the soul of Italy is served on every plate.
                Form the rich aroma of slow-simmered sauces to the first bite of handmade pasta,
                our dishes bring you the warmth and passion of true Italian cooking.<br>
                Prepare to savour an experience that's as genuine as Nonna's kitchen.
            </p>
            <a href="{% url 'book_table' %}" class="btn btn-primary btn-green-hover mt-3 me-3">Book a Table</a> <!--btn-green-hover to override btn-primary-->
            <a href="{% url 'menu' %}" class="btn btn-primary btn-green-hover mt-3">View our Menu</a>
        </div>
    </div>
</section>

<!-- Meal Deal -->
<section class="container my-5 d-flex flex-column flex-md-row align-items-center">
    <div class="col-md-6">
        <img src="{% static 'images/meal-deal.jpg' %}" alt="Special Deal" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-6 px-4">
        <h2>Spring's Meal Deal</h2>
        <p>Enjoy our Special Offer for £15.99! Limited time offer.</p>
    </div>
</section>

<!-- Private Dining -->
<section class="container-fluid py-4 bg-light">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h2>Private Dining</h2>
            <p fs-4>
                At RistoDeliz, we offer private dining options perfect for intimate gatherings, celebrations, or business events.<br>
                Please contact the restaurant directly, we will be happy to discuss your requirements,
                and create a memorable occasion just for you!
            </p>
            <p>Give us a ring @ 0123 4567 8910</p>
        </div>
    </div>
</section>

<!-- Sign Up Invite -->
<section class="container d-flex flex-column-reverse flex-md-row align-items-center text-center mt-5 mb-5">
    <div class="col-md-6 px-4">
        <h2>Join Us!</h2>
        <p>Sign up to receive exclusive offers!</p>
        <a href="{% url 'signup' %}" class="btn btn-success mt-2">Click here to Join!</a>
    </div>
    <div class="col-md-6">
        <img src="{% static 'images/signup-invite.jpg' %}" alt="Join Us" class="img-fluid rounded shadow">
    </div>
</section>
{% endblock %}