{% extends 'base.html' %}
{% block title %}RistoDeliz{% endblock %}


{% block content %}
<div class="container my-5">
    <div class="row">
        <!-- Restaurant Intro-->
        <div class="col-md-12 text-center mb-5">
            <div class="p-4 rounded">
                <h2>A Taste of Italy, Right at Your Table</h2>
                <p>RistoDeliz is where the soul of Italy is served on every plate. Form the rich aroma of slow-simmered sauces to the first bite of handmade pasta,
                    our dishes bring you the warmth and passion of true Italian cooking.<br>Prepare to savour an experience that's as genuine as Nonna's kitchen.
                </p>
                <a href="{% url 'book_table' %}" class="btn btn-primary mt-3">Book a Table</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}