{% extends 'base.html' %}
{% block title %}Confirm Cancellation{% endblock %}

  {% block content %}
  <div class="page-wrapper mt-5">
    <h2>Cancel Booking</h2>
    <p>Do you really want to cancel your booking for {{ booking.date }} at {{ booking.time }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><a href="'booking_table/cancel_success.html'"></a>Yes</button>
        <button type="submit" class="btn btn-primary"><a href="{% url 'dashboard' %}">No</a></button>
    </form>
  </div>
  {% endblock %}