{% extends "base.html" %}

{% block title %}Your Dashboard{% endblock %}

{% block content %}
<div class="page-wrapper dashboard-wrapper">
  <h2>Welcome, {{ user.get_full_name|default:user.username }}!</h2>
  <p>This is your dashboard. Here you’ll see and manage your bookings.</p>
   <h3>My Bookings</h3>
   {% if bookings %}
   <div class="table-responsive">
    <table>
    <tr>
      <th>Date</th><th>Time</th><th>Table</th><th>Guests</th><th>Status</th><th>Actions</th>
    </tr>
    {% for b in bookings %}
    <tr>
      <td>{{ b.date }}</td>
      <td>{{ b.time }}</td>
      <td>{{ b.table }}</td>
      <td>{{ b.guest_count }}</td>
      <td>{{ b.status }}</td>
      <td>
        {% if b.status != 'Cancelled' %}
          <a href="{% url 'edit_booking' b.pk %}">Edit</a> |
          <a href="{% url 'cancel_booking' b.pk %}">Cancel</a>
        {% else %}
          —
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>
  {% else %}
  <p>No bookings yet.</p>
  {% endif %}
  <link class="nav-item"><a href="{% url 'book_table' %}" class="btn btn-warning mt-4 ms-2">Back to Booking</a></link>
</div>
  
{% endblock %}
